
* {
    box-sizing: border-box;
}

body {
    font-family: "Lato", sans-serif;
    background: #f9f9f9;
    font-weight: 300;
    font-size: 18px;
    line-height: 25px;
    color: #000;
    margin: 0;
    padding: 0;
}

ul {
    list-style: none;
    padding: 0;
}

a {
    text-decoration: none;
}

.wrapper {
    max-width: 1140px;
    padding-left: 15px;
    padding-right: 15px;
    margin: 0 auto;
}

.title {
    font-family: "Merriweather", serif;
    font-weight: 900;
    font-size: 48px;
    line-height: 69px;
    color: #333;
}

.btn {
    font-family: "Lato", sans-serif;
    font-weight: 400;
    font-size: 18px;
    line-height: 25px;
    color: #fff;
    border: none;
    outline: none;
    background-color: #005FA3;
    padding: 19px 18px;
    min-width: 270px;
    cursor: pointer;
    transition: all .3s;
}

.btn:hover {
    background-color: #0777c7;
    transition: all .3s;
}

.arrows {
    display: flex;
}

.arrow {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 60px; 
    height: 60px;
    background: #005fa3;
    cursor: pointer;
    transition: all 0.3s;
}

.arrows_white .arrow {
    background: rgba(255, 255, 255, .2);
}

.arrows_white .arrow:hover {
    background: rgba(255, 255, 255, .4 );
    transition: all 0.3s;

}

.swiper-pagination-bullet {
    width: 10px;
    height: 10px;
    background: #ffffff;
    opacity: 0.4;
    cursor: pointer;
    transition: all 0.3s;
}

.swiper-pagination-bullet:hover,
.swiper-pagination-bullet.swiper-pagination-bullet-active {
    opacity: 1;
    transition: all 0.3s;
}


.header {
    padding: 22px 0;
}

.header__wrap,
.header__logo, 
.header__info,
.header__box {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.header__logo {
    font-family: "Merriweather", serif;
    gap: 30px;
    font-weight: 900;
    font-size: 36px;
    line-height: 50px;
    color: #005fa3;
}

.header__info {
    gap: 40px;
    margin-bottom: 22px;
}

.header__box {
    gap: 15px;
}

.header__icon {
    height: 17px;
}

.header__icon {
    height: 100%;
    object-fit: contain;
    display: flex;
    align-items: center;
}

.header__value {
    display: block;
    font-weight: 400;
    font-style: normal;
    font-size: 13px;
    line-height: 17px;
    color: #000;
}

.header__menu ul {
    display: flex;
    gap: 68px;
}

.header__menu ul a {
    display: block;
    font-weight: 700;
    font-size: 14px;
    line-height: 17px;
    letter-spacing: 0.1em;
    text-transform: uppercase;
    color: #222222;
}

.promo {
    position: relative;

}

.promo__slide {
    position: relative;
    height: 670px;
    display: flex;
    align-items: center;
}

.promo__bg {
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    z-index: 1;
}

.promo__wrap {
    max-width: 590px;
    position: relative;
    z-index: 10;
    top: -50px;
}

.promo__title {
    color: #fff;
    margin-bottom: 80px;
}

.promo__slide .wrapper {
    width: 100%;
}

.promo__bottom {
    position: absolute;
    width: 100%;
    left: 0;
    bottom: 110px;
    z-index: 11;
}

.promo__nav {
    display: flex;
    align-items: flex-end;
    justify-content: space-between;
}

.promo__nav .swiper-pagination {
    position: relative;
    bottom: 0;
    left: 0;
    width: auto;
    gap: 40px;
    display: flex;
}